#root {
  max-width: 100%;
  padding: 0rem;
  margin: 0 auto;
  text-align: center;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

h1{
    text-align: center;
  }

h4{
    padding: 10px;
  }
  
  button:hover {
    background-color:  rgb(18, 64, 94);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(191, 198, 198) 0px 4px 20px 0px;
  }

  .dark{
    background-color: rgb(18, 64, 94);
  }

  .dark nav{
    background-color: rgb(9, 45, 69);
  }

  .dark footer{
    background-color: rgb(9, 45, 69);
  }

  .dark .text {
    color:white
  }

  .dark .detailTitle {
    color: rgb(0, 0, 0);
  }

  .dark > div > p{
    color: black;
  }

  .dark .card {
    background-color: #7d96a9;
    border: rgb(60, 60, 60);
  }

  .dark > div > a{
    color: white;
  }

  .dark > div > a:hover{
      color: rgb(183, 183, 183);
  }

  .dark > div > button , .dark .digitalHouse{
    background-color: rgb(230, 231, 231);
  }

  .dark > h1, h2{
    color: rgb(255, 255, 255);
  }

  .dark .odontoTitle{
    color: white;
  }
