.card{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: calc((90vw - 55px) / 5 - 20px);
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
    border: 0.5px solid rgb(211, 211, 211);
    border-radius: 10px;
}

.card img {
    width: 100%; 
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.card:hover{
    border: 0.5px solid  rgb(199, 237, 243);
}

.card-grid{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 90vw;
    height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 15px 55px;
    flex-direction: row;
}

.favButton{
    background-color: rgb(237, 237, 237);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.favButton.favorited {
    background-color:  #71b0d9;
  }

button:hover {
    background-color:  rgb(220, 236, 238);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(191, 198, 198) 0px 4px 20px 0px;
  }