footer {
    display: flex;
    width: 95vw;
    justify-content: space-around;
    padding: 1rem;

    height: 40px;
    margin-top: 2rem;
    background-color: rgb(163, 216, 248);
    border-radius: 10px;
    }

footer > img{
    width: 100vw;;
    margin: 0;
    }

footer > div{
    display: flex;
    justify-content: space-around;
    margin: 0;
    }

footer > div > img{
    background-color: rgb(18, 64, 94);
    padding: 4px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}


footer > p{
    margin: 0;
    padding-top: 0.7rem;
    }